.quotes__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 2px #2a3a88;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
}

.quote__character {
    color: #f1b942;
    font-weight: 900;
}